@import "tailwindcss";

:root {
  --color-primary: #059669;
  --color-primary-dark: #047857;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
